@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: white;
  color: #0a0a19;
}

main {
  flex: 1;
}

canvas {
  pointer-events: none;
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
  border-bottom: 1px solid #eee;

  position: sticky;
  top: 0;

  background: #141414d9;
  backdrop-filter: blur(4px);
  z-index: 10;
}

.logo {
  font-size: 26px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.menu-toggle {
  display: none;
  font-size: 32px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 650px) {

  .top-nav nav ul {
    flex-direction: column;
    gap: 15px;
  }

  .top-nav nav {
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.95);
    backdrop-filter: blur(4px);

    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease;
  }

  .top-nav nav.active {
    max-height: 300px;
    border-bottom: 1px solid #333;
  }

  .menu-toggle {
    display: block;
  }

  .top-nav nav ul {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .top-nav {
    padding: 20px;
  }
}

.top-nav nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.top-nav nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;

  background: #141414d9;
  color: #e0e0e0;

  font-size: 0.95rem;
  letter-spacing: 0.5px;

  border-top: 1px solid #ffffff14;
  backdrop-filter: blur(4px);
}
