.projects-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.project-card {
  background: #f2f3f3;
  border-left: 6px solid #f3a953;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.project-title {
  font-size: 22px;
  margin: 0 0 10px 0;
  color: #064acb;
}

.project-description {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.5;
}

.project-tech,
.project-period {
  font-size: 14px;
  margin: 6px 0;
}

.project-link-div {
    display: flex;
    justify-content: space-between;
}

.project-link {
  font-size: 15px;
  text-decoration: none;
  color: #064acb;
  font-weight: bold;
}

.project-unlink {
  font-size: 15px;
  text-decoration: none;
  color: #064acb;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}
